* {
	color: white;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-image: url(../img/destruction.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: right;
}

.container {
	background-color: black;
	height: 100%;
}

.country {
	fill: #CB4335;
}

.country:hover {
	fill: gray;
}

#gameTitle {
	text-align: center;
	font-family: 'Black Ops One', cursive;
	color: red;
	font-size: 70px;
}

#gameInstruction {
	text-align: center;
	font-family: 'Anton', sans-serif;
	color: lightgray;
	font-size: 25px;
}

#gameInstruction > span {
	font-family: 'Black Ops One', cursive;
	color: red;
	font-size: 30px;
}

#startBtn {
	border: 2px solid red;
	font-size: 100px;
	background-color: black;
	font-family: 'Black Ops One', cursive;
	color: red;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#timer {
	font-size: 100px;
	text-align: center;
	font-family: 'Black Ops One', cursive;
	color: red;
}

#countryToSave > h4 {
	text-align: center;
	font-size: 20px;
	font-family: 'Anton', sans-serif;
	margin-top: 0;
}

.main-game {
	display:none;
	position: relative;
}

.game-intro {
	margin-top: 200px;
}

#worldSaved, #worldDestroyed {
	display: none;
}

#worldSaved {
	color: green;
	font-family: 'Anton', sans-serif;
	font-size: 100px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#worldDestroyed {
	font-family: 'Black Ops One', cursive;
	color: red;
	font-size: 100px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}